body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #C6E7EF;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: block;
    margin-bottom: 20px;
    width: 80px;
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
}

.menu a:hover, .menu .active {
    background-color: #F9F9F9;
}

.profile {
    text-align: center;
    padding-top: 20px;
}

.profile img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
}

.profile-info {
    margin-top: 10px;
}

.profile-info p {
    font-weight: bold;
}

.profile-info span {
    font-size: 15px;
    color: black;
}

#logout {
    background-color: lightcyan;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#logout:hover {
    background-color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

.notification-card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: #0EA5E9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #007bb5;
}

.refresh-btn {
    background-color: #e0f2fe;
    color: #0EA5E9;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 2px 5px #398bbd;
    transition: 0.3s;
}

.refresh-btn:hover {
    background-color: #b3e5fc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #C6E7EF;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e0f7fa;
    transition: 0.3s;
}
